.container {
  display: block;
  border-style: solid;
  height: 80vh;
  width: 90%;
  margin: 0 auto;
}

#event{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

#p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

#container{
  display: flex;
  flex-direction: row;
  border-style: solid;
  margin: 1rem 1rem;
  height: 60vh;
  width: 0 auto;
}

.first {
  display: flex;
  flex-direction: row;
  border-style: solid;
  width: 40%;
  margin: 1rem 1rem;
  align-items: center;
  justify-content: center ;  
}
#template{
  border-style: solid;
  padding: 1rem 1rem;
}
img{
  border-style: solid;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.second{
  display: flex;
  flex-direction: row;
  border-style: solid;
  width: 50%;
  padding: 2.5rem 1rem;
  margin: 1rem 1rem;
  font-size: 1.8rem;
}

#input{
  display: flex;
  flex-direction: row;
  gap: 2rem ;
  align-items: center;
  justify-content: center ;
  margin: 0 auto;
}

#submit{
  font-size: 1.5rem;
}

#cancel{
  font-size: 1.5rem;
}
