.container {
  display: block;
  border-style: solid;
  background-color: aqua;
  height: 75vh;
  width: 80%;
  margin: 0 auto;
}

#event{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

#p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

#container{
  display: flex;
  flex-direction: row;
  border-style: solid;
  margin: 1rem 1rem;
  height: 50vh;
  width: 0 auto;
  background-color: azure;
}

.first {
  border-style: solid;
  width: 50%;
  margin: 1rem 1rem;
  justify-content: center ;  
}

#template{
  margin: 3rem 8rem;
  border-style: solid;
  height: 70%;
  width: 50%;
}

img{
  /* border-style: solid; */
  border-radius: 100px;
  width: 70% !important;
  height: 70% !important;
}
.second{
  border-style: solid;
  width: 50%;
  margin: 1rem 1rem;
}

